*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}


.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background-color: rgb(19, 17, 14);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo{
    margin-left: 30px;
}
.logo{
    text-decoration: none;
    color:aliceblue
    text-transform: uppercase;
    font-size: 20px;
}
.navbar a {
    display: block;
    padding: 23px 20px;
    color: azure;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: rgb(212, 203, 174);

}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 60vh !important;
    background: url(img/inicio.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 200;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

p{
   margin-bottom: 40px;
   font-size: 18px;
   color: rgb(0, 0, 0);

}

.btn {
    display: inline-block;
    background-color: black;
    border-radius: 1rem;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid black;
    color: aliceblue;
    text-shadow: 1rem;
    justify-content: space-between;
    
}

.btn:hover {
    background: none;
}

 .btn-home {
    display: flex;
    border-radius: 1rem;
 }

 .btn-home a {
    margin: 0 10 px;
 }

 .content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
 }

 .sau{
    padding: 30px;
   
    
 }

 .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

 }

.box-container .box {
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem grey;
}




