<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
    <script src="script.js"></script>
    <script src="https://kit.fontawesome.com/f89ba662a1.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="head">
        <div class="logo">
            <a href="index.html">LUCE</a>
        </div>
        <nav class="navbar">
            <a href="index.html">Inicio</a>
            <a href="carrito.html">Carrito</a>
            <a href="cuenta.html">Cuenta</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </div>
    <br>
    <div class="main-container">
        <section class="login-section">
            <h2 class="title">Iniciar Sesión</h2>
            <form>
                <input type="text" placeholder="Usuario" required>
                <input type="password" placeholder="Contraseña" required>
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
            <div class="login-links">
                <a href="registro.html">Registrarse</a>
                <a href="contraseña.html">Olvidé contraseña</a>
            </div>
        </section>
    </div>
</body>


<footer>
    <div class="footer-content">
        <div class="text-center p-2"></div>
        <p class="lead text-center" style="color:white;">&copy; 2024 LUCE. Todos los derechos reservados</p>
    </div>
</footer>

</html>