<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUCE</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="script.js"></script>
    <script src="https://kit.fontawesome.com/f89ba662a1.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="head">
        <nav class="logo">
            <a href="index.html">LUCE</a>
        </nav>
        <nav class="navbar">
            <a href="index.html">Inicio</a>
            <a href="carrito.html">Carrito</a>
            <a href="cuenta.html">Cuenta</a>
            <a href="contacto.html">Contacto</a>

        </nav>

    </div>

    <br>
    <div class="main-container">

        <h2 class="title">Productos</h2>
        <p>Descubre nuestra exclusiva colección de productos en
            tendencia que destacan por su calidad y estilo.
            Cada artículo ha sido cuidadosamente seleccionado para ofrecerte lo mejor en moda y comodidad.</p>
        <div class="box-container">
            <div class="box" style="background-image: url('../img/Vestido.jpg');">
                <a href="./vestidos.html" class="btn">Vestidos</a>
            </div>
            <div class="box" style="background-image: url('../img/Blazer.jpg');">
                <a href="./blusas.html" class="btn">Blusas</a>
            </div>
            <div class="box" style="background-image: url('../img/Sueter.jpg');">
                <a href="./abrigos.html" class="btn">Abrigos</a>
            </div>
            <div class="box" style="background-image: url('../img/Nsueta.jpg');">
                <a href="./niños.html" class="btn">Niños</a>
            </div>
        </div>
        <br><br>
        <h2 class="title"> Contacto</h2>
        <p>Puedes seguirnos en nuestra página de Instagram para no perderte ninguna novedad.</p>
        <div class="Ins">
            <a href="https://www.instagram.com/_luce.cr/" class="btn">Instagram <i
                    class="fa-brands fa-instagram"></i></a>
        </div>
        </article>
        </section>
        <br>
    </div>
</body>

<footer>
    <div class="footer-content">
        <div class="text-center p-2"></div>
        <p class="lead text-center" style="color:white;">&copy; 2024 LUCE. Todos los derechos reservados</p>
    </div>
</footer>

</html>