<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUCE</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="script.js"></script>
    <script src="https://kit.fontawesome.com/f89ba662a1.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="head">
        <nav class="logo">
            <a href="index.html">LUCE</a>
        </nav>
        <nav class="navbar">
            <a href="index.html">Inicio</a>
            <a href="productos.html">Carrito</a>
            <a href="registro.html">Cuenta</a>
            <a href="#about">Nosotros</a>
            <a href="contacto.html">Contacto</a>

        </nav>

    </div>

    <br>
    <div class="main-container">
        <section id="sau" class="content sau">


            <h2 class="title">Productos</h2>
            <p>Descubre nuestra exclusiva colección de productos en 
                tendencia que destacan por su calidad y estilo. 
                Cada artículo ha sido cuidadosamente seleccionado para ofrecerte lo mejor en moda y comodidad.</p>
            <div class="box-container">
                <div class="box" style="background-image: url('../img/Vestido.jpg');">
                    <a href="./vestidos.html" class="btn">Vestidos</a>
                </div>
                <div class="box" style="background-image: url('../img/Blazer.jpg');">
                    <a href="#" class="btn">Blusas</a>
                </div>
                <div class="box" style="background-image: url('../img/Sueter.jpg');">
                    <a href="#" class="btn">Abrigos</a>
                </div>
                <div class="box" style="background-image: url('../img/Nsueta.jpg');">
                    <a href="#" class="btn">Niños</a>
                </div>
            </div>
        </section>

        <section id="contact" class="contact">
            <article class="contain">
                <h2 class="title"> Contacto</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Velit possimus delectus, officia eos soluta amet pariatur dolorum eaque!
                    Est voluptatibus harum quod laudantium culpa sint fugiat laboriosam enim vitae eos</p>
                <div class="wh">
                    <a href="#" class="btn">Whatsapp <i class="fa-brands fa-whatsapp"></i></a>

                </div>
                <br>
                <div class="Ins">
                    <a href="#" class="btn">Instagram <i class="fa-brands fa-instagram"></i></a>
                </div>
            </article>
        </section>
        <br>
    </div>
</body>

    <footer>
        <div class="footer-content">
            <div class="text-center p-2"></div>
            <p class="lead text-center" style="color:white;">&copy; 2024 LUCE. Todos los derechos reservados</p>
        </div>
    </footer>

</html>