<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en Tendencia</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
    <script src="script.js"></script>
    <script src="https://kit.fontawesome.com/f89ba662a1.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="head">
        <div class="logo">
            <a href="index.html">LUCE</a>
        </div>
        <nav class="navbar">
            <a href="index.html">Inicio</a>
            <a href="productos.html">Carrito</a>
            <a href="registro.html">Cuenta</a>
            <a href="#about">Nosotros</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </div>

    <br>
    <div class="main-container">


        <div class="background-section">
            <h2 class="title">Nuestros Productos</h2>
            <div class="mask">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <h1 class="text-white trend-title">Productos en tendencia</h1>
                </div>
                <div class="producto-gal">
                    <figure>
                        <img src="../img/Sueter.jpg" alt="" width="300" />
                        <figcaption>
                            Sueter
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="../img/Blazer.jpg" alt="" width="300" />
                        <figcaption>
                            Blazer
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="../img/Vestido.jpg" alt="" width="300" />
                        <figcaption>
                            Vestido
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        </section>
        <br><br><br><br>

    </div>
</body>
    <footer>
        <div class="footer-content">
            <div class="text-center p-2"></div>
            <p class="lead text-center" style="color:white;">&copy; 2024 LUCE. Todos los derechos reservados</p>
        </div>
    </footer>

</html>